<?xml version="1.0"?>

<launch>

<node pkg="auto" type="object_positioner_fetch" name="object_positioner_fetch" output="screen">
    <rosparam command="load" file="$(find auto)/param/object_positioner_fetch.yaml" />
</node>

<!--<node pkg="auto" type="filter.py" name="filter" output="screen">
</node> -->

</launch>
